<section>
  <div class="tabs tabs-style-iconbox">
    <nav>
      <ul>
        <li class="active"><a href="#listado" data-toggle="tab"><i class="fa fa-bars"></i><span> Referencias</span></a></li>

        <li>
          <a href="#referencias"  data-toggle="tab">
          <i class="fa fa-floppy-o"></i><span> Agregar referencia</span></a>
        </li>

      </ul>
    </nav>
    <div class="content-wrap tab-content">
      <section id="listado" class="tab-pane active">
       {%if referencias %}
          {%include "registro/listado_referencias.html"%} 
       {%else%}
          {%include "registro/msg_vacio.html"%} 
       {%endif%}
      </section>
      <section id="referencias" class="tab-pane ">
       {%include "registro/forms/form_referencia.html"%}
      </section>
    </div><!-- /content -->
  </div><!-- /tabs -->
</section>