<h3 class="tituloDescripcion">Pacientes - Selecciona un criterio de búsqueda</h3>
<hr/>
<form class="form-inline" id="formBusquedaGeneral">
	<fieldset>
		<div class="row fila">
			<div class="col-md-3">
				<label class="cd-label" for="unidad_paciente">Unidad</label>
				<input type="text" class="ancho100" id="unidad_paciente" name="unidad_paciente">
		  	</div>
		  	<div class="col-md-3">
				<label class="cd-label" for="edad_range">Edad de la paciente</label>
				<div id="edad_range"  style="width:100%">
	                <input />
	                <input />
				</div>
				<input type="hidden" name="valor_range" id="valor_range">
		  	</div>
		</div>
		
	  	<div class="row">
		  	<div class="col-md-12">
		  		<div class="cd-box">
		  			<button type="submit" class="btn btn-info"><i class="fa fa-search"></i> Buscar</button>
		  		</div>
		  	</div>
	  	</div>
  	</fieldset>
</form>
