<h3 class="tituloDescripcion">Referencias - Selecciona un criterio de búsqueda</h3>
<hr/>
<form class="form-inline" id="formBusquedaReferencia">
	<fieldset>
		<div class="row fila">
			<div class="col-md-2">
				<label class="cd-label" for="fecha_ini">Fecha de envio de</label>
				<input type="text" class="ancho100" id="fecha_ini" name="fecha_ini">
		  	</div>
		  	<div class="col-md-2">
		  		<label class="cd-label" for="fecha_fin">Fecha de envio a</label>
		  		<input type="text" class="ancho100" id="fecha_fin" name="fecha_fin">
		  	</div>
		  	<div class="col-md-3">
		  		<label class="cd-label" for="unidad_refiere">Unidad que envia</label>
		  		<input type="text" class="ancho100" id="unidad_refiere" name="unidad_refiere">
		  	</div>
		  	<div class="col-md-3">
		  		<label class="cd-label" for="unidad_recibe">Unidad que recibe</label>
		  		<input type="text"  class="ancho100" id="unidad_recibe" name="unidad_recibe">
		  	</div>
		  	<div class="col-md-2">
		  		<label class="cd-label" for="tipo_tamizaje">Motivo</label>
		  		<input type="text"  class="ancho100" id="tipo_tamizaje" name="tipo_tamizaje">
			</div>
		</div>
		
	  	<div class="row">
		  	<div class="col-md-12">
		  		<div class="cd-box">
		  			<button type="submit" class="btn btn-info"><i class="fa fa-search"></i> Buscar</button>
		  		</div>
		  	</div>
	  	</div>
  	</fieldset>
</form>
