<h3 class="tituloDescripcion">Datos de la paciente</h3>
<hr/>
<form action="" id="datos_paciente" method='post'>{% csrf_token %}
<fieldset>
<div class="row">
	<div class="col-md-4">
		<label class="cd-label"  for="fUnidad">Unidad Médica</label>
		<input class="ancho100" type="text" name="funidad" id="funidad" validationMessage="Dato obligatorio" required>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-4">
		<label class="cd-label" for="fnombre">Nombre</label>
		<input type="text" name="fnombre" id="fnombre" validationMessage="Dato obligatorio" required>
	</div>
	<div class="col-md-4">
		<label class="cd-label" for="fapaterno">Apellido Paterno</label>
		<input type="text" name="fapaterno" id="fapaterno" validationMessage="Dato obligatorio" required>
	</div>
	<div class="col-md-4">
		<label class="cd-label" for="famaterno">Apellido Materno</label>
		<input type="text" name="famaterno" id="famaterno" >
	</div>
</div>

<hr />
<div class="row">
	<div class="col-md-2">
		<label class="cd-label" for="fedad">Edad</label>
		<input class="ancho100" type="text" name="fedad" id="fedad" validationMessage="Dato obligatorio" required>
	</div>
</div>
<hr/>
<div class="cd-box">
	<button type="submit" class="btn btn-info" name="submit_paciente"> <i class="fa fa-floppy-o"></i> Guardar</button>
	<button class="btn btn-danger" ><i class="fa fa-times"></i> Cancelar</button>
</div>
</fieldset>
</form>
